# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Project Quick Open'
      'submenu': [
        { 'label': 'Open Project...', 'command': 'project-quick-open:toggle' }
      ]
    ]
  }
]
